<div class="container">
  <h3>List of cocktails</h3>
  <div class="row">
     <div class="col-xs-6">
        <% @cocktails.each do |cocktail| %>
        <p><%= link_to cocktail[:name], cocktail_path(cocktail) %></p>
        <% end %>
    </div>
  </div>
</div>
