<h1 class="text-center">Cocktail list</h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
<hr>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">

      <div class="card text-center"

          <% if cocktail.picture.nil? %>
            style="background: gray">
          Add an image
          <div
          <% else %>
            style="background-image: url('<%= image_path cocktail.picture%>')">
          <% end %>

        <div class="card-description">
          <h2> <%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          <p> Check it out </p>
        </div>

        <div class="card-body">

        </div>


      </div>

    </div>
    <% end %>
  </div>
</div>

